*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    color: white;
}
#cover{
    width: 100%;
    height: 100%;
    background-color: #AB8F97;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#main{
    display: flex;
    width: 95%;
    height: 70%;
    align-items: center;
    justify-content: center; 
    position: relative;
    /* padding: 140px 0px; */
    overflow: hidden;
}
#nav{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    top:20px;
    left: 320px;
    gap: 100px;
    /* height: 20%; */
    width: 875px;
    /* background-color: rebeccapurple; */
    padding: 5px 10px;
}
#nav img{
    height: 40px;
    width: 40px;
}
#nav h5{
    font-size:5px;
    letter-spacing: 2px;
    z-index: 99;
}
#part1{
    height: 100%;
    width: 15%;
    background-color: #BEA5AB;
}
#part2{
    z-index: 0;
    height: 100%;
    width: 35%;
    background-size: cover;
    background-position: center;
    background-color: #BEA5AB;
    /* transition: ease-in; */
    background-image: url(https://plus.unsplash.com/premium_photo-1695339147014-32f68336c10c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #bea5ab36;
}
#part3{
    height: 100%;
    width: 10%;
    background-color: #BEA5AB;
}
#textdiv{
    position: absolute;
    /* height: 25%; */
    width: 1000px;
    left: 27%;
    top: 41%;
}
#textdiv>h1{
    font-weight: 900;
    font-size: 40px;
    font-family: gilroy;
    letter-spacing: 2px;
    line-height: 50px;
    color: white;
}
#smallimgdiv{
    position: absolute;
    height: 35%;
    width: 13%;
    background-image: url(https://images.unsplash.com/photo-1574015974293-817f0ebebb74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9kZWwlMjBwaW5rfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    right: 25%;
}
#verticaltext{
    position: absolute;
    height: 100vh;
    transform: rotate(90deg);
    white-space: nowrap;
    z-index: 10;
}
#scroller1{
    display: inline-block;
    animation-name: scroll;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#verticaltext h1{
    color: transparent;
    -webkit-text-stroke:1px white;
    font-family: gilroy;
    font-weight: 900;
    letter-spacing: 8px;
}
@keyframes scroll{
    from{
        transform:translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
